<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="main.tierhaven">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".TierListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".adding.EditTieritem"
            android:label="@string/title_activity_edit_tieritem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adding.Edit"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewing.DiscussionActivity"
            android:label="@string/discussion"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".review.ReviewActivity"
            android:label="Review"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>